body {
     /* Replace with the path to your background image */
    background-color: #333333; /* Used if the image is unavailable */
    background-repeat: repeat;
    background-position: center center; /* Centers the image */
    background-attachment: fixed;
    background-size: cover; /* Ensures the image covers the whole screen */
    /* opacity: 0.5; */
}

body::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: url('path-to-your-image.jpg') center center no-repeat; */
    background-size: cover;
    opacity: 0.5; /* Adjust the opacity as needed */
    z-index: -1;
}

/* body {
    background-color: #333333;
    background-repeat: no-repeat;
    background-position: top-left;
    background-attachment:fixed;
} */

h1 {
    text-align: center;
    font-family: Georgia, sans-serif;
    color:#ffffff;
    /* background-color: #000000; */
}

p {
    text-align: center;
    font-family: Georgia, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    /* background-color:#000000; */
}

.link-box {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #444; /* Your background color */
    border-radius: 10px; /* Rounded corners */
    padding: 10px 20px; /* Padding inside the box */

    display: inline-block;
    margin: 10px;
    /* padding: 10px; */
    background-color: #444; /* Or any color you prefer */
    text-align: center;
    opacity: 0.5;
}

.link-box a {
    color: #56B4E9;
    text-decoration: none;
    transition: color 0.3s;
}

.link-box:hover, .link-box:focus {
    background-color: #FED136;
    transition: color 1s;
}