body {
    background-color: #333333; /* Used if the image is unavailable */
    background-repeat: no-repeat;
    background-position: center center;
    /* background-attachment: fixed; */
    background-size: cover; /* Ensures the image covers the whole screen */
}

body::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    opacity: 0.5; /* Adjust the opacity as needed */
    z-index: -1;
}

h1 {
    text-align: center;
    font-family: courier, sans-serif;
    color:#ffffff;
}

h2 {
    text-align: center;
    font-family: courier, serif;
    font-weight: bold;
    color:#ffffff;
}

p {
    text-align: center;
    font-family: courier, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    color: #ffffff;
}

.link-box {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px; /* Rounded corners */
    padding: 30px 30px 10px 30px;
    display: inline-block;
    margin: 20px;
    background-color: #0005;
    text-align: center;
    font: Georgia
}

.link-box:hover, .link-box:focus {
    background-color: #aaaa;
    transition: color 1s;
}

.dog_img {
    min-width: 300px;
    min-height: 300px;
    max-width: 500em; /* Adjust this value to set your desired maximum width */
    max-height: 500px; /* Adjust this value to set your desired maximum height */
    display: block; /* To center the image if needed */
    margin: auto; /* To center the image horizontally if display is block */
    position: center center;
}

.gh-logo {
    /* width: "5px";
    height: "5px"; */
    /* padding: 10px; */
    border: 10px;
}