<!DOCTYPE html>
<html>
<head>
<title>Dogsite :)</title>
<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="refresh" content="30"/>
<style>
    body::after {
        background-image: url('{{dog_img}}');
    }
</style>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>



<body>
    <h1>a website to get your dog fix!! 🐕‍🦺🐕‍🦺</h1>
    <h2>this will refresh every 30 seconds :) woof</h2>
    <p><img class="dog_img" src="{{dog_img}}"></p>

    <!-- <footer> -->
        <a href="https://github.com/lumenesce/dogsite">
            <div class="link-box">
                <img src="/static/github-logo-white.png" class="gh-logo" width="50" height="50">
                <p>gitwoof repo</p>
            </div>
        </a>
    <!-- </footer> -->
</body>

</html>